<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Product</th>
      <th>Stage</th>
      <th>Tags</th>
      <th>Investors</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% companies.each do |c|%>
      <tr>
        <td data-label="Company"><%= c.name %></td>
        <td data-label="Notes"><%= c.notes %></td>
        <td data-label="Product"><%= c.product %></td>
        <td data-label="Stage"><%= c.stage %></td>
        <td data-label="Tags"><%= c.tag %></td>
        <td data-label="Investors"><%= c.investors %></td>
        <td data-label="Location"><%= c.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
